<button class="euiButton euiButton--primary euiButton--fill" ng-click="vis.refreshComponent()" >Apply</button>

<div>-= Data =-</div>
<br/>
<div class="form-group">
  <label>Red threshold <span
      ng-bind-template="({{!vis.params.invertScale ? 'below':'above'}} this value will be red)"></span></label>
  <input type="number" ng-model="vis.params.redThreshold" class="form-control" />
</div>
<div class="form-group">
  <label>Green threshold <span
      ng-bind-template="({{!vis.params.invertScale ? 'above':'below'}} this value will be green)"></span></label>
  <input type="number" ng-model="vis.params.greenThreshold" class="form-control" />
</div>
<div class="form-group">
  <label>Max</label>
  <input type="number" ng-model="vis.params.max" class="form-control" />
</div>
<div class="form-group">
  <label>Precision</label>
  <input type="number" ng-model="vis.params.precision" class="form-control" />
</div>
<div class="form-group">
  <label>Unit</label>
  <input type="text" ng-model="vis.params.unit" class="form-control" />
</div>
<div class="form-group">
  <label>
    <input type="checkbox" ng-model="vis.params.invertScale">
    Invert scale
  </label>
</div>
<br/>
<div>-= Display =-</div>
<div class="form-group"></div>
<select class="form-control" ng-model="vis.params.displayMode"
  ng-options="display for display in vis.params.displayOptions">
</select>
</div>

<select ng-show="vis.params.displayMode=='Icon'" class="form-control" ng-model="vis.params.iconMode"
  ng-options="icon for icon in vis.params.iconOptions">
</select>
</div>

<div class="form-group">
  <label>Font Size {{ vis.params.fontSize }} {{(vis.params.proportionalFonts?'vw':'px')}}</label>
  <input type="number" ng-model="vis.params.fontSize" class="form-control" min="1" max="1000" />
</div>
<div class="form-group">
  <label>Metric Font Size {{ vis.params.fontSizeMetric }} {{(vis.params.proportionalFonts?'vw':'px')}}</label>
  <input type="number" ng-model="vis.params.fontSizeMetric" class="form-control" min="1" max="1000" />
</div>
<div class="form-group"
  ng-show="vis.params.displayMode=='Traffic' || vis.params.displayMode=='Mood' || vis.params.displayMode=='Thumb' || vis.params.displayMode=='Icon' || vis.params.displayMode=='SVGIcon'">
  <label>Glyph width - {{ vis.params.width }}px</label>
  <input type="range" ng-model="vis.params.width" class="form-control" min="20" max="200" />
</div>
<div class="form-group">
  <label>
    <input type="checkbox" ng-model="vis.params.proportionalFonts">
    Proportional fonts
  </label>
</div>
<div class="form-group">
  <label>
    <input type="checkbox" ng-model="vis.params.showLabel">
    Show Label
  </label>
</div>
<div class="form-group">
  <label>
    <input type="checkbox" ng-model="vis.params.showValue">
    Show Value
  </label>
</div>
<div class="form-group">
  <label>
    <input type="checkbox" ng-model="vis.params.fixedSize">
    Fixed Size
  </label>
</div>

<div class="form-group" ng-show="!vis.params.fixedSize">
  <label>Max Panels per line {{ vis.params.numberOfLights }}</label>
  <input type="range" ng-model="vis.params.numberOfLights" class="form-control" min="1" max="50" />
</div>
<div class="form-group" ng-show="vis.params.fixedSize">
  <label>Panel Width - {{ vis.params.fixedw }}px</label>
  <input type="range" ng-model="vis.params.fixedw" class="form-control" min="20" max="300" />
</div>
<div class="form-group"
  ng-show="vis.params.fixedSize || vis.params.displayMode=='Plain' || vis.params.displayMode=='Frame'">
  <label>Panel Height - {{ vis.params.fixedh }}px</label>
  <input type="range" ng-model="vis.params.fixedh" class="form-control" min="20" max="300" />
</div>
<div class="form-group"
  ng-show="vis.params.fixedSize || vis.params.displayMode=='Plain' || vis.params.displayMode=='Frame'">
  <label>Panel Border - {{ vis.params.fixedb }}px</label>
  <input type="range" ng-model="vis.params.fixedb" class="form-control" min="0" max="100" />
</div>
<div class="form-group"
  ng-show="vis.params.fixedSize || vis.params.displayMode=='Plain' || vis.params.displayMode=='Frame'">
  <label>Panel Radius - {{ vis.params.fixedr }}px</label>
  <input type="range" ng-model="vis.params.fixedr" class="form-control" min="0" max="300" />
</div>
<div class="form-group"
  ng-show="vis.params.fixedSize || vis.params.displayMode=='Plain' || vis.params.displayMode=='Frame'">
  <label>Margin - {{ vis.params.margin }}px</label>
  <input type="range" ng-model="vis.params.margin" class="form-control" min="0" max="300" />
</div>
<div ng-show="vis.params.displayMode!='Frame'">
  <div class="form-group">
    <label>Label Color</label>
    <input type="text" ng-model="vis.params.labelColor" class="form-control" />
  </div>
  <div class="form-group">
    <label>Value Color</label>
    <input type="text" ng-model="vis.params.valueColor" class="form-control" />
  </div>
</div>
<br/>
<div ng-show="vis.params.displayMode=='Plain' || vis.params.displayMode=='Frame' || vis.params.displayMode=='Icon' || vis.params.displayMode=='SVGIcon'">
<div>-= Colors =-</div>
  <div class="form-group">
    <label>Red Color</label>
    <input type="text" ng-model="vis.params.redColor" class="form-control" />
  </div>
  <div class="form-group">
    <label>Orange Color</label>
    <input type="text" ng-model="vis.params.orangeColor" class="form-control" />
  </div>
  <div class="form-group">
    <label>Green Color</label>
    <input type="text" ng-model="vis.params.greenColor" class="form-control" />
  </div>
</div>
<div ng-show="vis.params.displayMode=='Plain' || vis.params.displayMode=='Frame' || vis.params.displayMode=='Icon' || vis.params.displayMode=='SVGIcon'">
    <div>-= SVG =-</div>
    <div class="form-group">
        <label>SVG View Box</label>
        <input type="text" ng-model="vis.params.svgViewBox" class="form-control" />
    </div>
    <div class="form-group">
        <label>SVG Path</label>
        <input type="text" ng-model="vis.params.svgFreeIcon" class="form-control" />
    </div>
</div>
<div >
  <div>-= Formula =-</div>
  <br/>Use any valid javascript forumla as expression. Use metric_1 to get the metric_1 value.
  <div class="form-group">
      <label>Formula</label>
      <input type="text" ng-model="vis.params.formula" class="form-control" />
  </div>
</div>

<div>v1.7</div>
